.vs
.vscode
.DS_Store
/src/slskd/bin/
/src/slskd/obj/
/src/slskd/wwwroot/
/src/slskd/slskd.csproj.user
/TestResults/
/dist/
/logs/
coverage.json

# global.json is (at the time this was added) being used to pin the SDK to 9.0.203, which is the most recent
# version of the SDK that _doesn't_ strip colors from 'dotnet watch' output. once this problem is fixed, remove
# this entry and the file doing the pinning.  this may not be until .NET 10 reaches GA.
global.json