[Unit]
Description=slskd Daemon

[Service]
Type=simple
User=slskd
Group=slskd
WorkingDirectory=/var/lib/slskd/
ExecStart=slskd -c /etc/slskd --content-path=/opt/slskd/wwwroot

[Install]
WantedBy=network-online.target
