.search-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.search-container:last-child {
  margin-bottom: 17px;
}

.search-segment {
  margin-top: 15px !important;
  height: 78px !important;
}

@media only screen and (min-width: 991px) {
  .search-options-hide-no-slots, .search-options-hide-locked, .search-options-fold-results {
      margin-left: 1rem;
  }

  .search-option-toggles {
    display: inline-block;
  }
}

@media only screen and (max-width: 685px) {
  .search-options-sort {
      width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .search-option-toggles {
    margin-top: 1rem;
  }

  .search-options-hide-no-slots, .search-options-fold-results {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 684px) {
  .search-option-toggles {
    display: grid;
  }

  .search-options-hide-no-slots, .search-options-fold-results {
    margin-top: 1rem;
    margin-left: 0px;
  }
}

.search-input {
  width: 100%;
}

.search-loader {
  margin-top: 50px !important;
}

.search-filter {
  width: 100%;
  margin-top: 1rem;
}