.system {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 15px !important;
  margin-bottom: 17px;
}

.logs-table {
  font-size: smaller;
}

.logs-table-body {
  font-family: monospace;
}

.logs-table-message {
  word-break: break-all;
}

.logs {
  min-height: 100px;
}

.full-height {
  height: calc(100vh - 175px);
}

.yaml-error {
  white-space: nowrap;
  overflow: overlay;
}

.footer-buttons {
  margin-top: 14px;
  text-align: right;
}

.state-code-editor, .view-code-container, .edit-code-container, .edit-code-container-error {
  border: 1px solid #d4d4d5;
  overflow: auto;
}

.state-code-container {
  height: calc(100vh - 204px);  
}

.view-code-container {
  height: calc(100vh - 254px);  
}

.edit-code-container {
  height: calc(100vh - 316px);  
}

.edit-code-container-error {
  height: calc(100vh - 378px);  
}