<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Soulseek.NET Ruleset" Description="Global code analysis rules for Soulseek.NET projects up for consumption" ToolsVersion="16.0">
  <Include Path="allrules.ruleset" Action="Hidden" />
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA2008" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S101" Action="None" />
    <Rule Id="S1075" Action="None" />
    <Rule Id="S2219" Action="None" />
    <Rule Id="S2589" Action="None" />
    <Rule Id="S3011" Action="None" />
    <Rule Id="S3427" Action="Info" />
    <Rule Id="S1643" Action="Info" />
    <Rule Id="S3241" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1200" Action="Info" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="Info" />
    <Rule Id="SA1602" Action="Info" />
    <Rule Id="SA1611" Action="Info" />
    <Rule Id="SA1614" Action="Info" />
    <Rule Id="SA1616" Action="Info" />
    <Rule Id="SA1623" Action="Info" />
    <Rule Id="SA1649" Action="None" />
  </Rules>
</RuleSet>